<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product.size %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <%= image_tag @product.image.url(:medium) %>
</p>

<p>
  <%= form_tag('/add_to_cart') do %>
    <div class="hidden">
      <%= number_field_tag :product_id, @product.id %>
    </div>
    <%= number_field_tag :quantity, nil, placeholder: "How Many Products?" %>
    <%= submit_tag "Add to Cart", class: "btn btn-success" %>
  <% end %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
